body {
  font-family: 'Ubuntu': sans-serif;
  font-weight: 300;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;    
}


/*Polymer Scaffold*/

core-item {
  color: #f6fef3;
  font-size: 21pt;
  font-family: 'Ubuntu': sans-serif;
  font-weight: 400;
}

core-toolbar  {
  background-color: transparent;
}

[main] {
	background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('images/head_bg.png');
}

[drawer] {
	background-color: transparent;
} 

/*Menu Icon*/

core-icon-button {
  color: #2f3f41;
}

/*Logo Section*/

.logo {
  margin-bottom:20px;
  margin-top:1px;
}

.when {
  font-family: 'Ubuntu': sans-serif;
  font-weight: 400;
  text-align:center;
  max-width:661px;
  font-size:26pt;
  color:#808284;
}

.what {
  font-family:'Ubuntu': sans-serif;
  font-weight: 300;
  text-align:center;
  max-width:661px;
  font-size:26pt;
  color:#9ec83d;
}

/*3 TOPICS IN THE MIDDLE*/

#topics_bg {
  /*height:336px;*/
  background:#2f3f41;
  color:#ffffff;
  opacity: 0.8;
  text-align:center;
  padding-top:70px;
  padding-bottom:10px;
}

.topic {
  text-align:center;
  max-width:320px; height:200px;
  display:inline-block;
  margin-right:40px;
  margin-left:40px;
  margin-bottom:40px;
}

#technology_bg {
  margin:0px auto;
  width:124px; height:72px;
  background:url('images/cloud.png') no-repeat;
}

#business_bg {
  margin:0px auto;
  width:92px; height:80px;
  background:url('images/team.png') no-repeat;
}

#product_bg {
  margin:0px auto;
  width:92px; height:86px;
  background:url('images/product.png') no-repeat;
}

.topic h3 {
  color:#9ec83d;
}

#features_bg {
  /*height:393px;*/
  background:url('images/features_bg.png') repeat;
  background-position:top;
  background-size: cover;
  padding:30px;
}

/*INPUT*/

paper-input {
  width: 95%;
}

paper-input-decorator {
  max-width: 95%;
}

paper-input.narrow {
  width: 200px;
}

paper-button[raised].colored {
  background-color:#9ec83d;
  opacity:0.65;
  color: #f6fef3;
  width: 180px;
  font-family: 'Ubuntu': sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin-left: 9px;
  margin-top: 9px;
}

.input-submit {
  width: 225px;
  margin-left: 10px;
}

.submit-form  {
  margin-bottom: 35px;
  margin-top: 10px;
  justify-content:center;
  align-items:center;
}

/*main input form*/

.custom /deep/ ::-webkit-input-placeholder {
  color: ##808284;
}

.custom /deep/ ::-moz-placeholder {
  color: ##808284;
}

.custom /deep/ :-ms-input-placeholder {
  color: ##808284;
}

.custom /deep/ .label-text,
.custom /deep/ .error {
  color: #a7ce38;
}

.custom /deep/ .unfocused-underline {
  background-color: #0b9444;
}

.custom[focused] /deep/ .floated-label .label-text {
  color: #808284;
}

/*underline once clicked*/
.custom /deep/ .focused-underline {
  background-color: #a7ce38;
}

.custom /deep/ .cursor {
  background-color: #a7ce38;
}

.custom.invalid /deep/ .floated-label .label-text,
.custom /deep/ .error {
  color: #a7ce38;
}

.custom.invalid /deep/ .focused-underline,
.custom.invalid /deep/ .cursor {
  background-color: ##a7ce38;
}

/*input type color*/
.custom {
  color: #0b9444;
  font-size: 13pt;
}

p {
  margin: 20px;
  padding: 80px 40px;
  border-radius: 250px;
  background-color: #a7ce38;
}