body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;    
}


/*Polymer Scaffold*/


core-item {
  color: #f6fef3;
  font-size: 21pt;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

core-toolbar  {
  background-color: transparent;
}

[main] {
	background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('images/head_bg.png');
}

[drawer] {
  background-image: url('images/bg_repeating.png');
} 

/*Menu Icon*/

core-icon-button {
  color: #2f3f41;
}

/*Logo Section*/

.logo {
  margin-bottom:20px;
  margin-top:1px;
}

.when {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  text-align:center;
  max-width:661px;
  font-size:26pt;
  color:#808284;
}

.what {
  font-family:'Ubuntu', sans-serif;
  font-weight: 300;
  margin-top:9px;
  text-align:center;
  max-width:661px;
  font-size:26pt;
  color:#9ec83d;
}

/*3 TOPICS IN THE MIDDLE*/

#topics_bg {
  /*height:336px;*/
  background:#2f3f41;
  color:#ffffff;
  opacity: 0.8;
  text-align:center;
  padding-top:50px;
  padding-bottom:50px;
}

.topic {
  text-align:center;
  max-width:310px; height:200px;
  display:inline-block;
  margin: 20px;
}

.topic h3 {
  color:#9ec83d;
  font-family: 'Ubuntu': sans-serif;
  font-weight: 400;
  font-size:22px;
}

#apply  {
  margin:20px auto 50px auto;
  max-width:720px;
  text-align:center
}

#apply input {
  min-width:270px;
  height:50px;
  margin:0px auto;
}

#apply .btn-default {
  width:150px;
  height:50px;
  background:#9ec83d;
  color:#ffffff;
}
  

.feature {
  max-width: 310px;
  display:inline-block;
  margin: 20px;
}

#features_bg {
  background:url('images/features_bg.png');
  color:#ffffff;
  opacity: 0.8;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
  background-position:top;
}

.desc {
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  font-weight: 300;
  color: #f6fef3;
}


/*Footer*/
.footer {
  background:#2f3f41;
}

#footer {
  color:#ffffff;
  background:#2f3f41;
  padding-top:30px;
  padding-bottom:10px;
}

#footer #copyright {
  float:left;
  width:250px;
}

#footer #social_icons {
  float:right;
  text-align:right;
  width:100px;
  margin-top:-10px;
}

/*Newsletter*/
#when {
  text-align:center;
  margin:10px auto;
  max-width:661px;
  font-size:26pt;
  color:#808284;
}

#newsletter_bg {
  min-height:241px;
  background:url('images/head_bg.png') repeat;
  background-position:50% 80%;
}

#newsletter {
  margin:0px auto;
  text-align:center;
  max-width:626px;
  padding-top:30px;
  padding-bottom:30px;
}

#newsletter h2 {
  font-size:21pt;
  color:#2f3f41;
  margin-bottom:30px;
}

#newsletter input {
  height:50px;
  border:1px solid #c4c4c4;
}

#newsletter .btn-default {
  width:180px;
  height:50px;
  background:#9fcb3e;
  color:#ffffff;
}




/*HOVER*/
/*GROW*/
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow:hover, .grow:focus, .grow:active  {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*  CSS Media Queries
================================================== */


/* Version 1024px ----------------------------------------------------*/
@media handheld, only screen and (max-width: 1024px) {

}


/* Mobile Version 767px ----------------------------------------------*/
@media handheld, only screen and (max-width: 767px) {
  body {
    padding:0;
  }
  nav{
    text-align: center;
  }
  nav h1{
    text-align: center;
  }
  .info, .extra{
    padding-left:20px;
    padding-right:20px;
  }
}


/* Mobile Version 600px ----------------------------------------------*/
@media handheld, only screen and (max-width: 600px) {
  body {
    padding:0;
  }
  nav {
    text-align: center;
  }
}


/* Mobile Version 568px ----------------------------------------------*/
@media handheld, only screen and (max-width: 568px) {
  body {
    padding:0;
  }
  nav{
    text-align: center;
  }
  .form .row1, .form .row2, .form .row3, .form .row4 {
       width: 100%;
  }


  .newsletter input {
  margin: 0 auto 20px auto;
    width: 90%;
    padding: 4px 5px;
    height: 45px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
          box-sizing: border-box;
}




}


/* Mobile Version 480px ----------------------------------------------*/
@media handheld, only screen and (max-width: 480px) {
  body {
    padding:0;
  }
  nav {
    text-align: center;
  }

  .form .row1, .form .row2, .form .row3, .form .row4 {
       width: 100%;
  }

}


/* Mobile Version 320px ----------------------------------------------*/
@media handheld, only screen and (max-width: 320px) {
  body {
    padding:0;
  }
  nav {
    text-align: center;
  }

}

